@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #3a4a43;
  }

  body {
    background-color: #051424;
    color: #d4e4fa;
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3a4a43;
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
